---
layout: splash
title: "Publications"
permalink: /publications/
author_profile: false
---

{% if author.googlescholar %}
You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

<h2>Conferences</h2> 
<ul>
	<li>  S. Agarwal and S. Akella,
		"Line Coverage with Multiple Robots as a Capacitated Arc Routing Problem," 
		in <i>IEEE International Conference on Robotics and Automation</i>, May 2019 (under review). </li>

	<li> S. Agarwal and S. Akella,
		"Simultaneous Optimization of Assignments and Goal Formations for Multiple Robots,"
		in <i>IEEE International Conference on Robotics and Automation</i>, May 2018.
		<a href="{{ base_path }}/files/AgarwalA18ICRA.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalA18ICRA" target="_blank">bib</a>  &nbsp;
		<a href="https://www.youtube.com/watch?v=3MK7MCU2AeU" target="_blank">video</a> </li>

	<li>
		S. Agarwal, J. Badduri and S. Bandyopadhyay,
		"Optimal synthesis of six-bar function generators,"
		in <i>14th IFToMM World Congress, 2015</i>, OS2-031, Oct. 2015, Taipei, Taiwan.
		<a href="{{ base_path  }}/files/AgarwalB15.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalB15" target="_blank">bib</a> &nbsp;
		<a href="{{ base_path }}/files/vid_double_dwell.gif" target="_blank">GIF</a> </li>
	</li>
	<li>
		A. Nag, V. Reddy, S. Agarwal and S. Bandyopadhyay,
		"Identifying singularity-free spheres in the position workspace of semi-regular Stewart platform manipulators,"
		in <i>Advances in Robot Kinematics</i> pp. 421–430, June 2016.
		<a href="{{ base_path  }}/files/NagRAB16.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#NagRAB16" target="_blank">bib</a> &nbsp;
	</li>
	<li>
		J. Kilaru, M. K. Karnam, S. Agarwal and S. Bandyopadhyay,
		"Optimal design of parallel manipulators using a novel dynamic performance index and singularity free workspace,"
		in <i>14th IFToMM World Congress, 2015</i>, OS13-129, Oct. 2015, Taipei, Taiwan.
		<a href="{{ base_path  }}/files/KilaruKAB.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#KilaruKAB" target="_blank">bib</a> &nbsp;
	</li>
	<li>
		M. K. Karnam, R. Kalla, A. Nag, S. Agarwal and S. Bandyopadhyay,
		"Improved Tracking Performance Using Dual and Double Dual Feedback Loops,"
		in <i>2015 Indian Control Conference</i>, Jan. 2015, Chennai, India.
		<a href="{{ base_path  }}/files/KarnamKNAB.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#KarnamKNAB" target="_blank">bib</a> &nbsp;
	</li>
</ul>

<h2>Journals</h2> 
<ul>
	<li>
		S. Agarwal and S. Bandyopadhyay,
		"Design of six-bar function generators using dual-order structural error and analytical mobility criteria,"
		in <i>Mechanism and Machine Theory, Elsevier</i>, pp. 326–351, vol. 116, Oct. 2017.
		<a href="{{ base_path  }}/files/AgarwalB17.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalB17" target="_blank">bib</a> &nbsp;
		<a href="{{ base_path }}/files/vid_double_dwell.gif" target="_blank">GIF</a> </li>
	</li>
	<li>
		S. Agarwal, R. A. Srivatsan and S. Bandyopadhyay,
		"Analytical Determination of the Proximity of Two Right-circular Cylinders in Space,"
		in <i>Journal of Mechanisms and Robotics</i>, ASME, vol. 8, issue 4, March 2016.
		<a href="{{ base_path  }}/files/AgarwalSB16.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalSB16" target="_blank">bib</a> &nbsp;
	</li>
	<li>
		S. Agarwal, A. Mahapatra and S. S. Roy,
		"Dynamics and Optimal Feet Force Distributions of a Realistic Four-legged Robot,"
		in <i>International Journal of Robotics and Automation (IJRA)</i>, pp. 223– 234, vol. 1, no. 4, Dec. 2012.
		<a href="{{ base_path  }}/files/AgarwalMR12.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalMR12" target="_blank">bib</a> &nbsp;
	</li>
</ul>

