---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

{% if author.googlescholar %}
You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

<div class="list__item">
<h2>Conferences</h2> 
<ul>
	<li>  S. Agarwal and S. Akella,
		"Line Coverage with Multiple Robots as a Capacitated Arc Routing Problem," 
		in <i>IEEE International Conference on Robotics and Automation</i>, May 2019 (under review). </li>

	<li> S. Agarwal and S. Akella,
		"Simultaneous Optimization of Assignments and Goal Formations for Multiple Robots,"
		in <i>IEEE International Conference on Robotics and Automation</i>, May 2018.
		<a href="{{ base_path }}/files/AgarwalA18ICRA.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalA18ICRA" target="_blank">bib</a>  &nbsp;
		<a href="https://www.youtube.com/watch?v=3MK7MCU2AeU" target="_blank">video</a> </li>

	<li>
		S. Agarwal, J. Badduri and S. Bandyopadhyay,
		"Optimal synthesis of six-bar function generators,"
		in <i>14th IFToMM World Congress, 2015</i>, OS2-031, Oct. 2015, Taipei, Taiwan.
		<a href="{{ base_path  }}/files/AgarwalB15.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalB15" target="_blank">bib</a> &nbsp;
		<a href="{{ base_path }}/files/vid_double_dwell.gif" target="_blank">GIF</a> </li>
	</li>
</ul>

<h2>Journals</h2> 
<ul>
	<li>
		S. Agarwal and S. Bandyopadhyay,
		"Design of six-bar function generators using dual-order structural error and analytical mobility criteria,"
		in <i>Mechanism and Machine Theory, Elsevier</i>, pp. 326–351, vol. 116, Oct. 2017.
		<a href="{{ base_path  }}/files/AgarwalB17.pdf" target="_blank">PDF</a> &nbsp;
		<a href="{{ base_path }}/files/Agarwal.bib#AgarwalB17" target="_blank">bib</a> &nbsp;
		<a href="{{ base_path }}/files/vid_double_dwell.gif" target="_blank">GIF</a> </li>
	</li>
</ul>
</div>

